# use this file if you wish to include non-python files
# reference: https://packaging.python.org/en/latest/guides/using-manifest-in/
include CHANGELOG.md
include README.md
graft src/aiwebscraper/assets
global-exclude __pycache__
global-exclude *.py[co]
